<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My HTML page</title>
      <link rel="stylesheet" href="style2.css">
   </head>
   <body>
      <h1>Logistics Management System</h1>
      <h2>Seller</h2>
      <h3>Obtain Client Information</h3>
      <h4>Result</h4>

      {% if not success %}
         <!-- {% for message in messages %} -->
            <div>No client returned for the given tracking ID!</div>
            <br><br>
         <!-- {% endfor %} -->
         {% else %}

         <table>
            <tr>
              <th>Client Phone Number</th>
              <th>Client Address</th>
              <th>Client City</th>
            </tr>
   
               {% for i in data %}
               <div>
            <tr>
              <td>{{i.phoneNumber}}</td>
              <td>{{i.clientAddress}}</td>
              <td>{{i.city}}</td>
            </tr>
         </div>
               {% endfor %}
          </table>

      {% endif %}

   </body>
</html>