<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My HTML page</title>
      <link rel="stylesheet" href="style2.css">
   </head>
   <body>
      <h1>Logistics Management System</h1>
      <h2>Seller</h2>
      <h3>Track Packages</h3>
      <h4>Product Details</h4>
      <h5>Result</h5>
      {% for i in data %}
      <div> {{i.trackingID}} - {{i.sellerID}}- {{i.warehouseID}}- {{i.currentLocation}}- {{i.productRoute}}- {{i.paymentStatus}}- {{i.price}}- {{i.clientPhoneNumber}} </div>
      {% endfor %}
   </body>
</html>