<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>My HTML page</title>
      <link rel="stylesheet" href="style2.css">
   </head>
   <body>
      <h1>Logistics Management System</h1>
      <h2>Warehouse</h2>
      <p> Your product has been added to the Inventory!
      </p>
      <table>
         <tr>
           <th>Seller ID</th>
           <th>Product ID</th>
         </tr>
         
            <div>
         <tr>
           <td>{{sellerID}}</td>
           <td>{{productID}}</td>
         </tr>
      </div>
       </table>
      
   
   <a href = 'home'>
    <button>Return to Warehouse Menu! </button>
   </a>
   </button>
      
   </body>
</html>